<style>
h1
{
    color: black;
}
h4
{
    color: black;
    
    
}
</style>

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container-fluid">
 
  <div class="row">
    <div class="container-fluid">
	<div class="container-margin">
	<div class="col-md-offset-1 col-md-10">	
	<div class="carousel slide" id="carousel1" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel1" data-slide-to="0" class="active"></li>
			<li data-target="#carousel1" data-slide-to="1"></li>
			<li data-target="#carousel1" data-slide-to="2"></li>
			<li data-target="#carousel1" data-slide-to="3"></li>
			<li data-target="#carousel1" data-slide-to="4"></li>
		</ol>

	<div class="carousel-inner">
	<div class="item active">
		<img src="resources/images/collaboration-1.jpg"  alt="Image 1" style="width:100%">
	</div>						
	<div class="item">
		<img src="resources/images/collaboration-2.jpg"  alt="Image 2" style="width:100%">
	</div>						
	<div class="item">
		<img src="resources/images/collaboration-3.jpg"  alt="Image 3" style="width:100%">
	</div>	
	<div class="item">
		<img src="resources/images/collaboration-4.jpg"  alt="Image 4" style="width:100%">
	</div>			
	<div class="item">
		<img src="resources/images/collaboration-6.jpg"  alt="Image 5" style="width:100%">
	</div>
	</div>
		<a href="#carousel1" data-slide="prev" class="left carousel-control">
		<span class="glyphicon glyphicon-chevron-left"></span>
		</a>			
		<a href="#carousel1" data-slide="next" class="right carousel-control">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>			
	</div>
	</div>	
</div>
       <h1 align="center" ><ins>WHO WE ARE</ins></h1>
       
       <div><br></div>
       <div><br></div>
    <div class="col-md-6">
      
    
    
         
       <h4><strong>Jobwala.com</strong> is an Indian job portal operating in India founded in september 2016.[2]

Jobwala.com was founded by NIIT Student named Jayanth.Jobwala.com had put target of about 1 lakh registered job seekers by this year and an average of about 100 resumes were added daily while number of resumes were modified daily during every day.</h4>
      </div>
       <div class="col-md-6">
      <h4  > In the upcoming  Fiscal year ,we put target of 5000 corporate customers (including hiring consultants/firms) paid Jobwala.com for services like database access, advertising / listing on the site amongst others.Check out various blogs, join some Forum discussions, ask Questions, make new Friends, hunt for Jobs, keep an eye on the Events happening</h4>
      </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        
                   <img src="resources//images//grass.jpg" alt="Lights" style="width:100%">
         
      
      </div>
    </div>
    </div>
    
</body>
</html>
